@charset "utf-8";

.container {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 40px;
    & nav ul {
      display: flex;
      align-items: baseline;
      list-style-type: none;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    .main {
      flex: 3;
      margin-right: 60px;
      background: #f0f0f0;
    }
    .sidebar {
      flex: 1;
      background: #e0e0e0;
    }
  }
}