<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>图标</title>
  <meta name="description" content="东方资产, icon" />
  <meta name="keyword">
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <div class="fc_3 fz_lg caption">Icon <span class="fz_md">图标<span class="text-muted">（含fontAwesomev4.5——ace已内置，glyphicon，自定义字体图标）</span></span> <span class="fc_9 fz_xs fc preview">预览</span></div>
        <div class="section"><!-- section start -->
          <div class="fc_3 fz_md">字体图标 <span class="fc_9 fz_sm">&lt;FontAwesome&gt;</span></div>
          <div class="main">
            <div class="fc_3 fz_sm title">基本</div>
            <div class="main-ct">
              <div id="fontAwesomeList" class="row">
                <div class="col-md-2">
                  <div class="hamburger hamburger-pill">
                    <a class="hambur-header" href="javascript:;"><i class="ace-icon fa fa-asterisk"></i></a>
                    <div class="hambur-body">
                      <span class="text">fa-asterisk</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row end -->
            </div>
            <div class="main-footer fz_xs">
              <p class="fc_6">组件说明</p>
              <p class="fc_9">包括600多个（fontAwesome4.7为675个）来自 Font Awesome 的字体图标。<a href="https://fontawesome.com/v4.7.0">Font Awesome</a>。</p>
            </div>
          </div>
        </div><!-- section end -->
        <div class="section"><!-- section start -->
          <div class="fc_3 fz_md">字体图标 <span class="fc_9 fz_sm">&lt;Glyphicons&gt;</span></div>
          <div class="main">
            <div class="fc_3 fz_sm title">基本</div>
            <div class="main-ct">
              <div id="glyphiconList" class="row">
                <div class="col-md-2">
                  <div class="hamburger hamburger-pill">
                    <a class="hambur-header" href="javascript:;"><i class="ace-icon glyphicon glyphicon-asterisk"></i></a>
                    <div class="hambur-body">
                      <span class="text">glyphicon-asterisk</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row end -->
            </div>
            <div class="main-footer fz_xs">
              <p class="fc_6">组件说明</p>
              <p class="fc_9">包括263个来自 Glyphicon Halflings 的字体图标。<a href="http://glyphicons.com/">Glyphicons</a> Halflings 一般是收费的，但是他们的作者允许 Bootstrap 免费使用。为了表示感谢，希望你在使用时尽量为 <a href="http://glyphicons.com/">Glyphicons</a> 添加一个友情链接。</p>
            </div>
          </div>
        </div><!-- section end -->
        <div class="section"><!-- section start -->
          <div class="fc_3 fz_md">自定义svg转字体图标 <span class="fc_9 fz_sm">&lt;icon-font-generator&gt;</span></div>
          <div class="main">
            <div class="fc_3 fz_sm title">基本</div>
            <div class="main-ct">
              <div id="iconFontGeneratorList" class="row">
                <div class="col-md-2">
                  <div class="hamburger hamburger-pill">
                    <a class="hambur-header" href="javascript:;"><i class="ace-icon glyphicon glyphicon-asterisk"></i></a>
                    <div class="hambur-body">
                      <span class="text">glyphicon-asterisk</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row end -->
            </div>
            <div class="main-footer fz_xs">
              <p class="fc_6">组件说明</p>
              <p class="fc_9">此示例展示包括75个来自自定义的字体图标。<a href="https://github.com/Workshape/icon-font-generator">icon-font-generator</a>通过易于使用，预配置的cli工具，可从一堆.svg文件生成webfont图标工具包。</p>
              <dl>
                <dt>安装</dt>
                <dd><code>npm install -g icon-font-generator</code></dd>
                <dt>快速使用</dt>
                <dd><code>icon-font-generator my-icons/*.svg -o icon-dist</code></dd>
              </dl>
            </div>
          </div>
        </div><!-- section end -->
      </div>
    </div>
  </div>
  <!-- <script src="/dist/js/icon.js"></script> -->
</body>

</html>