@charset "utf-8";

header {
  grid-area: header;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7fd8f6;
  nav {
    justify-self: start;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    li {
      padding-right: 20px;
    }
  }
  button {
    justify-self: end;
  }
}
.container {
  max-width: 900px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-gap: 50px;
  .sidebar {
    background-color: #DFD8E8;
  }
  .main {
    background-color: #FECD4C;
  }
}